html{
    margin:0;
    padding:0;
}
body{
    font-family:"outfit",sans-serif;
}
.container{
    background-color:whitesmoke;
    box-shadow:cyan;
    width:1500px;
    height:550px;
    margin-top:100px;
    font-family:sans-serif;
    margin-left:350px;
    margin-top:250px;
    
}

.prod_rating{
    display:flex;
    
}

.headline{
    width:30%;
    margin-left:50px;
    text-align:left;
}
.headline h1{
    color:hsl(300, 43%, 22%);    
}
.star{
    margin-top:20px;
    margin-left:200px;
}
.star1{
    background-color:rgb(255,236,242);
    padding:10px 40px 10px 20px;
}
.star2{
    background-color:rgb(255,236,242);
    padding:10px 40px 10px 20px;
    margin-top:15px;
    margin-left:25px;
}
.star3{
    background-color:rgb(255,236,242);
    padding:10px 60px 10px 20px;
    margin-top:15px;
    margin-left:50px;    
}
.cards{
    display:flex;
    height:30vh;
    width:1200px;
}
.cards p{
    margin-top:100px;
       
}
.card1 p{
    margin-left:-140px;
}
.card2 p{
    margin-left:-140px;
}
.card3 p{
    margin-left:-140px;
}
.card1{
    display:flex;
    background-color: hsl(310, 45%, 25%) ;
    margin-top:50px;
    color:white;
    border-radius:5px;
    margin-left:50px;
}
.card1 img{
    width:50px;
    height:50px;
    border-radius:25px;
    margin-top:25px;
    margin-left:25px;

}
.card2{
    display:flex;
    background-color: hsl(310, 45%, 25%) ;
    margin-left:50px;
    margin-top:75px;
    color:white;
    height:220px;
    border-radius:5px;
}
.card2 img{
    width:50px;
    height:50px;
    border-radius:25px;
    margin-top:25px;
    margin-left:25px;
}
.card3{
    display:flex;
    background-color: hsl(310, 45%, 25%) ;
    margin-left:50px;
    margin-top:100px;
    margin-right:200px;
    color:white;
    margin-right:75px;     
    height:220px;
    border-radius:5px;
    
}
.card3 img{
    width:50px;
    height:50px;
    border-radius:25px;
    margin-top:25px;
    margin-left:25px;
}
.cards h3{
    width:100%;
    margin-top:-50px;
    margin-left:90px;
}
h3 b{
    color:lightcoral;
}
@media(max-width:770px){
    .container{
        margin:0px;
        width:300px;
        flex-direction:column;
        
    }
    .headline{
        margin-left:200px;
        width:100%;

             
    }
    .cards p{
       font-size:25px;
       padding-bottom:20px;
    }
    
    .cards{
        flex-direction:column;
        width:700px;
        
    }
    .card1{
        margin-right:50px;
    }
    .card2{
        margin-right:50px;
    }
    .card3{
        margin-right:50px;
    }
    .prod_rating{
        flex-direction:column;
        width:100%;
  }
  .headline{
    width: 100%;
    text-align: center;
    font-size:25px;
    word-spacing:5px;
  }
  
  .star{
    flex-direction: column;
    width:400px;
    text-align:center ;

    
  }
   .star1{
    width:100%;
    padding:40px;
    font-size:30px;
    
}
  .star1 img{
    width:18%;
  }
  .star2 img{
    width:18%;
  }
  .star3 img{
    width:18%;
  }
  .star2{
    width:100%;
    padding:40px;
    font-size:30px;
}
.star3{
    width:100%;
    padding:40px;
    font-size:30px;
}
  
}